<ng-container *ngIf="data$ | async as data">
  <div class="turn-indicator" [class]="data.myTurn ? 'mine' : 'other'">
    {{ data.currentTurn?.player?.name }}'s Turn
  </div>
  <div class="dice-container">
    <app-die
      *ngFor="let die of data.currentTurn.diceState"
      [class.selected]="die.selected"
      [value]="die.value"
      [color]="die.color"
      [class]="{ selectable: data.canSelect }"
      (click)="data.canSelect && selectDie(die)"
    ></app-die>
  </div>
  <span>{{ data.currentRollValue | json }}</span>
  <div *ngIf="data.myTurn">
    <button
      (click)="rollSelected()"
      *ngIf="data.currentTurn.attempt.num < data.gameSettings.rollAttempts"
    >
      Roll
    </button>
    <button (click)="acceptRoll()" *ngIf="!data.currentTurn.finalized">
      Accept
    </button>
  </div>
  <div *ngIf="!data.myTurn">
    Current Turn: {{ data.currentTurn?.player?.name }} / {{ $myTurn() }}
  </div>
</ng-container>
