div.row-container {
  display: flex;
  background-color: orangered;
  border: 3px solid #00000044;
  border-radius: 10px;

  & > div {
    width: 30px;
    height: 30px;
    border-right: 1px solid #00000044;
    display: inline-flex;
    flex-direction: row;
    padding: 3px;

    & > * {
      flex-grow: 1;
    }
    & > span {
      display: inline;
    }

    &:last-child {
      border: none;
    }
  }
}

:host {
  position: relative;
}

app-entry.selectable {
  border: 1px solid green;
  cursor: pointer;
}
